@import "../sass/h5bp";
@import "./_colours";
@import "./_fonts";
@import "../sass/mixins";

@import "../sass/base";
@import "../sass/report_list_pins";

body.frontpage {
    color: $primary_text;
    a,
    .fake-link {
        &:visited {
            color: $links_visited;
        }
    }
}

#site-logo {
    background: url("/cobrands/greenwich/logo.gif") 0 50% no-repeat;
    background-size: contain;
    width: 82px;
    height: 40px;
    padding: 0.25em 0;
}

#nav-link {
    background: url("/cobrands/greenwich/tab-red.png") 0 0 no-repeat;
}

// #site-header {
//     background: $base_bg url("/cobrands/greenwich/mastWave.gif") 100% 0 no-repeat;
//     background-size: cover;
// }

.item-list--reports__item,
#front-main #postcodeForm {
    background-color: $greenwich_light_grey;
}

#front-main #postcodeForm {
    margin-top: 1em;
    div {
        input#sub {
            background: $greenwich_red;
        }
    }
}

label[for="pc"] {
    color: $greenwich_red;
    text-align: left;
}

#front_stats {
    color: $nav_colour;
}

#greenwich-menu-desktop,
#fms-menu-desktop,
#greenwich-breadcrumb {
    display: none;
}

footer {
    ul li {
        list-style: none;
        a {
            color: $primary_text;
            text-decoration: underline;
        }
    }

    hr {
        padding: 0;
        margin: 0 -16px;
        height: 4px;
        background-color: $greenwich_red;
        border: none;
    }
}

h1,
h2 {
    font-weight: 700;
    text-align: left;
}

p {
    text-align: left;
}

button,
.btn,
.green-btn {
    border: none;
    // border-radius: 0.25em;
    color: white;
    background: $greenwich_red;

    &:hover {
        border: none;
        text-decoration: underline;
        color: white;
        background: lighten($greenwich_red, 2%);
    }
}

// Report page
form#form_update_form {
    fieldset {
        div {
            button.btn {
                color: white !important;
            }
        }
    }
}

// Sign in page
form {
    fieldset {
        #form_sign_in {
            p {
                input.fake-link {
                    color: $primary_text;
                    &:hover {
                        text-decoration: underline;
                    }
                    &:visited {
                        color: $links_visited;
                    }
                }
            }
        }
    }
}

// input[type="submit"] {

// }
